# Ignore node_modules and build artifacts for all folders
**/node_modules/
**/dist/
**/build/

# Logs
**/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# API folder: apiViewer specific files
api/.env
api/.DS_Store

# Client folder: React Vite TypeScript client
client/.env
client/node_modules/
client/dist/
client/.DS_Store
client/src/lib/api/generated


# Server folder: Node Express TypeScript server
server/.env
server/node_modules/
server/dist/
server/.DS_Store
server/src/api/generated

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
.idea/
*.swp
*.swo
*.bak

# Miscellaneous
*.lock
*.tmp

# Others
ideas
