openapi: 3.0.0
info:
  title: WebNotes API
  description: API for managing notes in the WebNotes app
  version: 1.0.0

servers:
  - url: https://api.webnotes.com/v1
    description: Production server

tags:
  - name: notes
    description: Endpoints related to note management
  - name: user
    description: Endpoints related to user / authorization management

paths:
  /notes/all:
    get:
      summary: Get all notes
      description: Returns a list of note previews with truncated text.
      tags:
        - notes
      responses:
        '200':
          description: A list of note previews
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Note'

  /notes/all/previews:
    get:
      summary: Get all note previews
      description: Returns a list of note previews with truncated text.
      tags:
        - notes
      responses:
        '200':
          description: A list of note previews
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NotePreview'

  /notes/{id}:
    get:
      summary: Get a note by ID
      description: Returns a full note by its ID.
      tags:
        - notes
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Note found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
        '404':
          description: Note not found
    put:
      summary: Update an existing note
      description: Updates an existing note based on its ID.
      tags:
        - notes
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NoteUpdate'
      responses:
        '200':
          description: Note updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
        '400':
          description: Invalid request data
        '404':
          description: Note not found
    delete:
      summary: Delete a note by ID
      description: Deletes a note from the system.
      tags:
        - notes
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Note deleted successfully
        '404':
          description: Note not found

  /notes:
    post:
      summary: Create a new note
      description: Creates a new note and returns the created note object.
      tags:
        - notes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NoteUpdate'
      responses:
        '201':
          description: Note created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
        '400':
          description: Invalid request data

  /notes/recent:
    get:
      summary: Get recently opened notes
      description: Returns a specified number of recently opened notes.
      tags:
        - notes
      parameters:
        - name: limit
          in: query
          required: false
          description: The number of recent notes to retrieve (default is 5).
          schema:
            type: integer
            minimum: 1
            default: 5
      responses:
        '200':
          description: Recently opened notes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Note'

  /notes/opened/{id}:
    put:
      summary: Update last opened time of note
      description: Updates the `updatedAt` timestamp of a note based on its ID.
      tags:
        - notes
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Note last opened time updated successfully (No Content)
        '400':
          description: Invalid request data
        '404':
          description: Note not found
  /sessions:
    get:
      summary: Get active sessions for the authenticated user
      description: Returns a list of active sessions for the logged-in user.
      tags:
        - user
      security:
        - CookieAuth: []
      responses:
        '200':
          description: List of active sessions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Session'
        '401':
          description: Unauthorized - Missing or invalid authentication token
        '403':
          description: Forbidden - Token expired or invalid

  /sessions/{id}:
    delete:
      summary: Delete a session by ID
      description: Deletes a specific session, logging out that session.
      tags:
        - user
      security:
        - CookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Session removed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: 'Session removed'
        '401':
          description: Unauthorized - Missing or invalid authentication token
        '403':
          description: Forbidden - Token expired or invalid
        '404':
          description: Session not found
  /sessions/all/{userId}:
    delete:
      summary: Delete all sessions by userId
      description: Deletes all user sessions, logging out the user
      tags:
        - user
      security:
        - CookieAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Sessions removed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: 'Sessions removed successfully'
        '401':
          description: Unauthorized - Missing or invalid authentication token
        '403':
          description: Forbidden - Token expired or invalid
        '404':
          description: User has no active sessions

  /user:
    get:
      summary: Get user details
      description: Returns details of the authenticated user.
      tags:
        - user
      security:
        - CookieAuth: []
      responses:
        '200':
          description: User details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserWithoutPassword'
        '401':
          description: Unauthorized - Missing or invalid authentication token
        '403':
          description: Forbidden - Token expired or invalid
        '404':
          description: User not found

  /auth/register:
    post:
      summary: Register a new user
      description: Creates a new user account and sends an email verification.
      tags:
        - user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRegisterPayload'
      responses:
        '201':
          description: User registered successfully
        '409':
          description: Email already in use

  /auth/login:
    post:
      summary: Log in a user
      description: Authenticates a user and returns access and refresh tokens.
      tags:
        - user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserLoginPayload'
      responses:
        '200':
          description: Login successful, returns access and refresh tokens
        '401':
          description: Invalid email or password

  /auth/logout:
    get:
      summary: Log out a user
      description: Logs out the current session and clears authentication cookies.
      tags:
        - user
      security:
        - CookieAuth: []
      responses:
        '200':
          description: Logout successful

  /auth/refresh:
    get:
      summary: Refresh access token
      description: Refreshes the access token using the refresh token.
      tags:
        - user
      security:
        - CookieAuth: []
      responses:
        '200':
          description: Access token refreshed
        '401':
          description: Missing or invalid refresh token

  /auth/email/verify/{code}:
    get:
      summary: Verify email
      description: Verifies a user's email using a verification code.
      tags:
        - user
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Email verified successfully
        '404':
          description: Invalid or expired verification code

  /auth/password/forgot:
    post:
      summary: Send password reset email
      description: Sends an email with a password reset link.
      tags:
        - user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordRestPayload'

      responses:
        '200':
          description: Password reset email sent
        '404':
          description: User not found

  /auth/password/reset:
    post:
      summary: Reset password
      description: Resets a user's password using a verification code.
      tags:
        - user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                password:
                  type: string
                  format: password
                verificationCode:
                  type: string
              required:
                - password
                - verificationCode
      responses:
        '200':
          description: Password reset successful
        '404':
          description: Invalid or expired verification code

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    CookieAuth:
      type: apiKey
      in: cookie
      name: accessToken

  schemas:
    NotePreview:
      type: object
      properties:
        _id:
          type: string
          x-originalName: _id
        userId:
          type: string
        bookmark:
          $ref: '#/components/schemas/Bookmark'
        textPreview:
          type: string
        updatedAt:
          type: string
        createdAt:
          type: string
      required:
        - _id
        - userId
        - bookmark
        - textPreview
        - updatedAt
        - createdAt

    Note:
      type: object
      properties:
        _id:
          type: string
          x-originalName: _id
        userId:
          type: string
        bookmark:
          $ref: '#/components/schemas/Bookmark'
        text:
          type: string
        updatedAt:
          type: string
        createdAt:
          type: string
      required:
        - _id
        - userId
        - bookmark
        - text
        - updatedAt
        - createdAt

    NoteUpdate:
      type: object
      properties:
        bookmark:
          $ref: '#/components/schemas/Bookmark'
        text:
          type: string
      required:
        - bookmark
        - text

    Bookmark:
      type: object
      properties:
        title:
          type: string
        color:
          type: string
      required:
        - title
        - color

    BookmarkWithNoteId:
      allOf:
        - $ref: '#/components/schemas/Bookmark'
        - type: object
          properties:
            _id:
              type: string

    User:
      type: object
      properties:
        name:
          type: string
        email:
          type: string
        password:
          type: string
        verified:
          type: boolean
        createAt:
          type: string
        updatedAt:
          type: string

    UserWithoutPassword:
      type: object
      properties:
        _id:
          type: string
        name:
          type: string
        email:
          type: string
        verified:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - _id
        - name
        - email
        - verified
        - createdAt
        - updatedAt

    Session:
      type: object
      properties:
        _id:
          type: string
        userId:
          type: string
        userAgent:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
        isCurrent:
          type: boolean
          description: Indicates if this is the current session of the user
      required:
        - _id
        - userId
        - createdAt
        - expiresAt

    VerificationCodeType:
      type: string
      enum:
        - EmailVerification
        - PasswordReset

    UserLoginPayload:
      type: object
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password
      required:
        - email
        - password

    UserRegisterPayload:
      type: object
      properties:
        name:
          type: string
        email:
          type: string
          format: email
        password:
          type: string
          format: password
        confirmPassword:
          type: string
          format: password
      required:
        - name
        - email
        - password
        - confirmPassword

    PasswordRestPayload:
      type: object
      properties:
        email:
          type: string
          format: email
      required:
        - email

    CustomError:
      type: object
      properties:
        dedicatedError:
          type: boolean
        service:
          type: string
        errorCode:
          type: string
        message:
          type: string
